li {
    list-style: none;
}

li a {
    color: green;
    font-size: 22px;
}

#teste {
    height: 600px;
    float: right;

    background-image: url("images/tenor.gif");
    background-repeat: no-repeat;
    background-size: 100%;
}

.inicio {
    background-color: #45edff;
}

.inicio h2 {
    padding: 5px;
    text-align: center;
}